.uncompleted-counter {
  font-weight: 600;
  line-height: 22px;
}


.todo-list {
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;


  .list-item {
  @include flex-center;
    height: 48px;
    background: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-bottom: 16px;


    &_checkbox {
      height: 16px;
      width: 16px;
      border-radius: 4px;
      margin: 16px 8px 16px 12px;

      &[type=checkbox] {
        accent-color: $primary;
      }
    }

    &_input {
      border: none;
      width: 100%;
      caret-color: transparent;
      cursor: default;

      &:focus {
        outline: none;
      }
    }

    .delete-btn {
      height: 17.33333396911621px;
      width: 14.666667938232422px;

    }
    .edit-btn {
      height: 20px;
      width: 20px;
    }
    .delete-btn, .edit-btn{
      margin-left: auto;
      margin-right: 16px;
    }

  }
}

